<!-- snippet from libs/component-library/forms/src/lib/input/input.component.html -->

<div class="input-wrapper">
    <label class="input-wrapper__label" [attr.for]="id">
        <span *ngIf="required" class="input-wrapper__required" aria-hidden="true">*</span>
        {{ label }}
    </label>

    <div class="input-wrapper__input-with-icons">
        <kampus-icon
            *ngIf="search"
            class="input-wrapper__input-search-icon"
            [size]="IconSize.SMALL"
            name="search"
        ></kampus-icon>

        <input
            [type]="search ? 'search' : type"
            class="input-wrapper__input"
            [ngClass]="{ 'input-wrapper__input-search': search }"
            tabindex="0"
            [id]="id"
            [disabled]="disabled"
            [required]="required"
            [value]="value ? value : ''"
            [readonly]="readonly"
            [attr.aria-label]="label"
            [attr.maxlength]="maxlength >= 0 ? maxlength : undefined"
            [attr.aria-invalid]="errorState"
            [attr.aria-required]="required"
            [placeholder]="placeholder ? placeholder : ''"
            (input)="interactionEvent($event)"
            (change)="interactionEvent($event)"
            #input
        />
        <kampus-icon
            *ngIf="search && value"
            class="input-wrapper__input-close-icon"
            [size]="IconSize.SMALL"
            name="close-small"
            (click)="clearInput()"
        ></kampus-icon>
    </div>

    <div class="input-wrapper__footer footer">
        <span class="footer__left">
            <ng-content select="[kampus-caption]"></ng-content>
            <div *ngIf="hasErrors" class="footer__error">
                <ng-content select="[kampus-error]"></ng-content>
            </div>
        </span>
        <span *ngIf="maxlength >= 0 && !readonly" class="footer__count" aria-live="polite">
            {{ value?.length || 0 }} / {{ maxlength }}
        </span>
    </div>
</div>